@media (max-width: 768px) {
    nav {
        flex-direction: column;
    }

    nav a {
        width: 100%;
        padding-bottom: 3px;
    }

    fieldset {
        flex-direction: column;
    }
}


* {
    box-sizing: border-box;
}

body {
    background-color: #77cece;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2;
    font-size: 15px;
    width: 80%;
    max-width: 1200px;
    margin: auto;

}

header {
    position: sticky;
    top: 0;
    background-color: #77cece;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5%;
    margin-top: 1em;

    /* goes outside near 768px window size 2 chk */
}

nav a {
    border: 2px solid;
    border-radius: 2em;
    padding: 1em;
    min-width: 10rem;
    background-color: rgb(166, 226, 218);
    text-align: center;

}

nav a:hover {
    text-decoration: none;
    background-color: rgb(255, 255, 255);
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-style: italic;
    padding-bottom: 2em;
}

.smalltxt {
    color: rgb(39, 3, 59);
    padding-bottom: 2em;
}

#description {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 2em;
    margin-bottom: 4em;

}

.card1 {
    border: 2px solid;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    min-width: 250px;
    /* text-align: center; */
}

img {
    width: 50px;
    height: auto;
}

.list {
    text-align: left;
}

div a {
    text-decoration: none;
}

div a:focus {
    text-decoration: underline;
    font-weight: 600;
}

table {
    margin: 5em;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: aquamarine;
    padding: 0.5em;
}

fieldset {
    display: flex;
    justify-content: space-between;
}

#VerySpecial {
    text-align: center;
}

.form1 {
    border: 2px solid;
    border-radius: 5px;
    max-width: 50%;
}

.input1 {
    display: flex;
    flex-direction: column;
    padding: 0.5em;

}

.input2 {
    display: block;
}

.input1 label {
    padding-bottom: 0.5em;
}

footer {
    margin-top: 3em;
}

footer div {
    display: flex;

    background-color: #75dddd;
    justify-content: space-around;
}